# Jmespath Token Usage Example

In [1]:
import jmespath_token.api as jt
from rich import print as rprint

In [2]:
# implicit raw token
data = {
    "firstname": "John",
    "lastname": "Doe",
}
jt.evaluate_token("hello", data)

'hello'

In [3]:
# implicit jmespath token
data = {
    "firstname": "John",
    "lastname": "Doe",
}
jt.evaluate_token("$firstname", data)

'John'

In [4]:
# dict values are implicit jmespath token
data = {
    "firstname": "John",
    "lastname": "Doe",
}
jt.evaluate_token({"firstname": "$firstname", "lastname": "$lastname"}, data)

{'firstname': 'John', 'lastname': 'Doe'}

In [5]:
# list values are implicit jmespath token
data = {
    "firstname": "John",
    "lastname": "Doe",
}
jt.evaluate_token(["$firstname", "$lastname"], data)

['John', 'Doe']

In [6]:
# SubToken (string template)
jt.evaluate_token(
    {
        "type": jt.TokenTypeEnum.sub,
        "kwargs": {
            "template": "Hello {FIRSTNAME} {LASTNAME}!",
            "params": {
                "FIRSTNAME": "$firstname",
                "LASTNAME": "$lastname",
            },
        },
    },
    data,
)

'Hello John Doe!'

In [7]:
# SubToken parameter values can also be token
jt.evaluate_token(
    {
        "type": jt.TokenTypeEnum.sub,
        "kwargs": {
            "template": "Hello {FIRSTNAME} {LASTNAME}!",
            "params": {
                "FIRSTNAME": "$firstname",
                # params can be any token
                "LASTNAME": {
                    "type": jt.TokenTypeEnum.jmespath,
                    "kwargs": {"path": "$lastname"},
                },
            },
        },
    },
    data,
)

'Hello John Doe!'

In [8]:
# JoinToken
jt.evaluate_token(
    {
        "type": jt.TokenTypeEnum.join,
        "kwargs": {
            "sep": ", ",
            "array": [
                "$lastname",
                {
                    "type": jt.TokenTypeEnum.jmespath,
                    "kwargs": {"path": "$firstname"},
                },
            ],
        },
    },
    data,
)

'Doe, John'

In [9]:
# SplitToken
jt.evaluate_token(
    {
        "type": jt.TokenTypeEnum.split,
        "kwargs": {
            "sep": ", ",
            "text": {
                "type": jt.TokenTypeEnum.join,
                "kwargs": {
                    "sep": ", ",
                    "array": ["$lastname", "$firstname"],
                },
            },
        },
    },
    data,
)

['Doe', 'John']

In [10]:
# MapToken
jt.evaluate_token(
    {
        "type": jt.TokenTypeEnum.map,
        "kwargs": {
            "key": "$name",
            "mapper": {"alice": "$female", "bob": "$male"},
            "default": "unknown",
        },
    },
    {"name": "alice", "female": "girl", "male": "boy"},
)

'girl'